@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>@ViewData["Title"] - CODE FIRST</title>
</head>
<body>
    <header>
        <div class="container pt-3">
            <ul class="nav nav-pills nav-fill">
              
                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Product"? "active" :"" ) ">Producs</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Category" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Category"? "active" :"" ) ">Categories</a>
                </li>

                 <li class="nav-item">
                    <a asp-controller="Customer" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Customer"? "active" :"" ) ">Customers</a>
                </li>

                 <li class="nav-item">
                    <a asp-controller="Order" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Order"? "active" :"" ) ">Orders</a>
                </li>
                
            </ul>
        </div>
    </header>


    @RenderBody()
</body>

@RenderSection("ValidationScript", false)
@RenderSection("PageScripts", false)

</html>*@






<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - CODE FIRST</title>


    <!-- bootstrap core css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- font awesome style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />


</head>



<body class="sub_page">

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section long_section px-0">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                   
                </a>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item ">
                                <a asp-controller="Product" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Product"? "active" :"" ) ">Producs</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Category" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Category"? "active" :"" ) ">Categories</a>

                            </li>
                            <li class="nav-item">
                                <a asp-controller="Customer" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Customer"? "active" :"" ) ">Customers</a>

                            </li>
                            <li class="nav-item active">
                                <a asp-controller="Order" asp-action="Index" class="nav-link  @(ViewContext.RouteData.Values["controller"].ToString()=="Order"? "active" :"" ) ">Orders</a>

                            </li>

                        </ul>
                    </div>
                   
                </div>
            </nav>
        </header>
        <!-- end header section -->
    </div>
    @RenderBody()

</body>

@RenderSection("ValidationScript", false)
@RenderSection("PageScripts", false)

</html>
